<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/05/19 15:38:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC001LoginLogoutTest.setData()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 15:38:33</td>   <td>1297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/05/19 15:38:45</td>   <td>13390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001LoginLogoutTest.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">loginLogout</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 15:38:58</td>   <td>25795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 15:39:00</td>   <td>27885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/05/19 15:39:04</td>   <td>32182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001LoginLogoutTest.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">loginLogout</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 15:39:13</td>   <td>41280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
</table>
