<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bca669">  <td>19/05/19 17:00:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 17:00:32</td>   <td>14380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 17:00:03</td>   <td>-14559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 17:00:19</td>   <td>2130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/05/19 17:00:08</td>   <td>-9451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001LoginLogoutTest.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">loginLogout</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/05/19 17:00:23</td>   <td>6213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001LoginLogoutTest.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">loginLogout</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/05/19 17:00:02</td>   <td>-15403</td> <td>&nbsp;</td><td title="&gt;&gt;TC001LoginLogoutTest.setData()[pri:0, instance:testcases.TC001LoginLogoutTest@4f7d0008]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
</table>
